* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}
img {
  width: 50px;
}
p, h1, h2, h3, h4 {
  margin: 0;
}
ul{
  margin: 0;
  padding-left: 0;
  list-style: none;
}
hr {
  margin: 0;
}
/* ----- HeaderHome ----- */
.header-home {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  background: white;
}
.logo-title{
  color: #F95554;
  font-weight: 700;
  font-size: 1.5rem;
}
.list-nav-bar {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  width: 35vw;
}
.icon-nav-bar{
  width: 25px;
  opacity: 0.5;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  /* ----- HeaderHome ----- */
  .header-home {
    height: 85px;
    padding-right: 0;
    border-bottom: 1px solid #ccc9;
  }
  .logo-title{
    font-size: 2.1rem;
  }
  .item-nav-bar{
    height: 85px;
    width: 100%;
    border-left: 1px solid #ccc9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}